<h1 class="welcome">Welcome to remEmber</h1>

<article class="welcome-text">
  Welcome to remEmber! In case you've already forgotten, you're here to track what you'll forget to do. Let's get started!
</article>

{{#link-to "reminders.new"}}
  <button
    class="new-reminder"
    >Create New Reminder
  </button>
{{/link-to}}

<br />

{{outlet}}
