<h3>Reminder List</h3>

<ul class="reminder-list">
  {{#each model as |reminder| }}
    <li class="spec-reminder-item">
      {{#link-to "reminders"}}{{reminder.title}}{{/link-to}}
    </li>
  {{/each}}
</ul>

{{#each model as |reminder|}}
  {{individual-reminder reminder=reminder}}
  {{outlet}}
{{/each}}

{{outlet}}
